<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layouts/head"); %>
    <title><%= title %></title>
    <!-- <% %> Executes the Statement -->
    <!-- <%= %> Displays -->
  </head>
  <body style="user-select: none;">
    <%- include("./layouts/navbar"); %>
    <!-- <%- %> - Specifies to Render and Not to Escape -->
    <br />
    <div class="container mt-2">
      <h2><b>Hello Vatsal</b></h2>
      <h3><a href="/download">Download app.js</a></h3>
      <h4>This is Home Page</h4>
    </div>
  </body>
</html>
